*,
*::before, 
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.heading, .text {
    padding: 1rem;
}

.text {
    max-width: 100ch;
}

.grid_layout {
    display: grid;
    /*grid-template-columns: 40% 60%;*/
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.header_container, .footer_container {
    display: flex;
    align-items: center;
    background-color: #333; 
    padding: 10px 20px;
    color: white;
    grid-column: span 2;
} 

.header_container {
    justify-content: space-between;
}

.footer_container {
    justify-content: flex-end;
}

.content {
    grid-column: span 2;
}


.logo {
    font-size: 24px;
    font-weight: bold;
    color: #bf81d8;
}

.navbar_links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navbar_link a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar_link a:hover {
    color: #bf81d8; 
}

.content::before {
    content: '';
    position: absolute; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(images/background-haaland.jpg);
    opacity: 0.3; /* Opacity for the background image */
    background-size: cover;
    z-index: -1; /* Place the background image behind the content */
}

.search_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    grid-column: span 2;
}

.search-bar {
    margin-top: 80px;
    display: flex;
}

.search-bar input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    width: 50vh;
}


.search-bar button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #7e69c9;
    color: white;
    border: 1px solid #7e69c9;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #7e69c9;
}

