* {
    margin: 0;
    padding: 0;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; 
    padding: 10px 20px;
    color: white;
} 


.logo {
    font-size: 24px;
    font-weight: bold;
}


.navbar_links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navbar_link a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar_link a:hover {
    color: #bf81d8; 
}